a {
	text-decoration: none;
}

body,
h1,
h2,
h3,
p {
	margin: 0;
}

.grid {
	display: grid;
	grid-auto-rows: 280px;
}

@media (min-width: 576px) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
	}
}

.grid main {
	background-color: #fff;
	grid-row: 1 / 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 2rem;
}

@media (min-width: 576px) {
	.grid main {
		grid-column: 1 / 3;
	}
}


/* Main content */

.grid main header h1 {
	font: 2.2rem/2.2 Open Sans;
}

.grid main header h2 {
	font: 1rem/1 Open Sans;
	color: #b2b2b2;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

.grid main .description p {
	font: .8rem/1.2 Roboto;
	color: #e47c7c;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

.grid main footer h1 {
	font: 600 1rem/1 Open Sans;
	color: #333;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.grid main footer p {
	font: 200 .8rem/1.2 Open Sans;
	color: #333;
	text-transform: uppercase;
}


/* Tiles */

.tile {
	cursor: pointer;
	background-position: 50% 50%;
}

.tile>div:nth-child(1) {
	opacity: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: #fff;
	transition: opacity 100ms ease-in-out;
}

.tile>div:nth-child(1) h1 {
	font: 800 1.2rem/1.4 Open Sans;
	color: #000;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.tile>div:nth-child(1) h2 {
	font: 300 1rem/1.4 Open Sans;
	color: #e47c7c;
	letter-spacing: 2px;
	margin-bottom: 20%;
	text-transform: uppercase;
}

.tile>div:nth-child(1):hover {
	opacity: 1;
}